<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&family=Lato:ital@1&family=Merriweather&family=Quattrocento&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed&family=Lato:ital@1&family=Merriweather&family=Quattrocento&display=swap" rel="stylesheet">
*{
    margin: 0;
    padding: 0;
}
.one{
    background: url(arkaplan.jpg);
    height: 100vh;
    background-size: 100% 100%;
}
.one .two{
    width: 100%;
    height: 90px;
    background:rgba(10, 10, 10, 0.596);
}
.two .three{
    display: inline-block;
    margin-left: 60px;
    margin-top: 15px;
}
.two .three a{
    text-decoration: none;
    font-size: 45px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: rgba(2, 66, 126, 0.692);
    user-select: none;
    font-weight: 1000;
}
.two ul{
    float: right;
    margin-right: 25px;
    user-select: none;
}
.two li{
    list-style: none;
    display: inline-block;
    margin: 0 9px;
    line-height: 75px;
    user-select: none;
}
.two ul li a{
    text-decoration: none;
    font-size: 24px;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    color: whitesmoke;
    padding: 6px 18px;
    user-select: none;
}
.two ul li a.active,
.two ul li a:hover{
    background: red;
    border-radius: 3px;
}
.one .four{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-family: 'IBM Plex Sans Condensed', sans-serif; 
    user-select: none;
}
.four h1{
    font-size: 60px;
    color:rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
    width: 900px;
}
.four h3{
    font-size: 30px;
    color: rgb(223, 223, 223);
    font-weight: bold;
    text-align: center;
    width: 900px;
}
.five {
    width: 450px;
    background: rgba(114, 113, 113, 0.26);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: rgba(0, 0, 0, 0.849);
    font-family: 'IBM Plex Sans Condensed', sans-serif; 
    user-select: none;
}
.five img{
    border-radius: 50%;
    cursor: pointer;
    transition: 0.4s;
    user-select: none;
}
.five img:hover{
    transform: scale(1.1);
}
.five h5{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.849);
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    text-align: center;
    font-weight: bold;
    user-select: none;
}
.five ul{
    margin: 0;
    padding: 0;
    user-select: none;
}
.five li{
    display: inline-block;
    margin: 6px;
    list-style: none;
    user-select: none;
}
.five li a{
    color: rgba(255, 249, 249, 0.521);
    user-select: none;
    font-size: 60px;
    transition: all ease-in-out 0,1s;
}
.five li a:hover{
    color: red;
}
.six{
    width: 450px;
    background: rgba(114, 113, 113, 0.26);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: rgba(255, 107, 107, 0.849);
    font-family: 'IBM Plex Sans', sans-serif; 
    user-select: none;
}
.six p{
    font-size: 18px;
    text-align: left;
    color: black;
    margin: 3px;
    padding: 3px;
    font-weight: bold;
    font-family: 'IBM Plex Sans Condensed', sans-serif; 
    user-select: none;
}
.seven{
    width: 450px;
    background: rgba(114, 113, 113, 0.26);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: rgba(255, 107, 107, 0.849);
    font-family: 'IBM Plex Sans', sans-serif; 
    user-select: none;
}
.seven p{
    font-size: 18px;
    text-align: left;
    color: black;
    margin: 3px;
    padding: 3px;
    font-weight: bold;
    font-family: 'IBM Plex Sans Condensed', sans-serif; 
    user-select: none;
}
.eight{
    width: 450px;
    background: rgba(114, 113, 113, 0.26);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: rgba(255, 107, 107, 0.849);
    font-family: 'IBM Plex Sans', sans-serif; 
    user-select: none;
}
.eight p{
    font-size: 18px;
    text-align: left;
    color: black;
    margin: 3px;
    padding: 3px;
    font-weight: bold;
    font-family: 'IBM Plex Sans Condensed', sans-serif; 
    user-select: none;
}